@model HomeModel

@{
    ViewData["Title"] = "Página Inicial";
}

<div class="text-center">
    <h1 class="display-4">Olá, @Model.Nome!</h1>
    <p>Bem vindo ao Meu Site, notificaremos quando o site estiver completo.</p>

    <h2>Ficaremos no aguardo de sua presença quando estiver completo. Até lá.</h2>
</div>
